body {
    background-color: powderblue;
    font-family: Arial, sans-serif;
    margin: 0;
}

.center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
}

h1 {
    color: navy;
    font-size: 3em;
    margin-bottom: 0;
}

h3, h5 {
    margin: 10px 0;
}

.hobby-list {
    list-style-type: none;
    padding: 0;
}

.hobby-list li {
    margin: 5px 0;
}

.hobby-list a {
    text-decoration: none;
    color: darkblue;
}

.hobby-list a:hover {
    color: darkred;
    text-decoration: underline;
}

.container img {
    max-width: 100%;
}

.container .col-md-6.offset-md-3 {
    margin-top: 20px;
}


/* for music button*/
.music-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}
